*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 10px 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}
.nav-item{
    transition: 0.2s;
}
.nav-item:hover{
    border-bottom: 1px solid #fff;
}
.navbar-nav .nav-item a{
    color: #fff !important;
}
.navbar-brand img{
    width: 150px;
}
.carousel-item img{
    height: 100vh;
}
.carousel-caption{
    margin-bottom: 150px;
}
.carousel-caption img{
    width: 60%;
    height: 60%;
}
.header{
    width: 100%;
}
.title{
    width: 50%;
    text-align: center;
    margin-bottom: 70px;
}
.title h2{
    padding-bottom: 15px;
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive;
}
.title p{
    font-size: 1.1rem;
    font-weight: 300;
    color: #666666;
}
.circle-img img{
    width: 85%;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}
.card-title{
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-text{
    font-weight: 300;
    color: #666666;
}
.sec-3{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image:linear-gradient(rgba(2, 2, 2, 0.4), rgba(0, 0, 0, 0.4)), url(../imgs/sec3-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.sec-3 h2{
    padding-bottom: 15px;
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-size: 2.5rem;
}
.sec-3 p{
    padding-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
}
.sec-3 button{
    border-radius: 0;
    padding: 15px 30px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 3px;
}
.sec-3 button:hover{
    border: 1px solid #e1be64;
    background-color: #e1be64;
    color: #fff;
}
footer h5{
    letter-spacing: 3px;
    font-weight: 400;
    padding-bottom: 30px;
}
footer p{
    font-size: 13px;
    font-weight: 300;
}
.col input{
    border-radius: 0 !important;
    padding: 10px 0 10px 15px;
}
.col button{
    border-radius: 0 !important;
    padding: 10px 30px;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 1px solid #e1be64;
    background-color: #e1be64;
    color: #fff;
}
.col button:hover{
    border: 1px solid #e9c97a;
    background-color: #e9c97a;
}
footer{
    background-color: #232323;
}
footer p{
    color: #f2f2f2;
}
.darker{
    background-color: #181818;
}
@media only screen and (max-width: 992px){
    .navbar-brand{
        display: none;
    }
    header{
        background-color: #fff;
    }
    .navbar-nav .nav-item a{
        color: #000 !important;
    }
    .navbar-nav .nav-item:hover a{
        color: #e1be64 !important;
    }
}